label {
  padding-bottom: 2%;
  color: #ffd700;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #003366;
  border: 2px solid #ffd700;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: bold;
  width: 100px;
  color: #ffd700;
}

.buttons button:hover {
  cursor: pointer;
  background: #ffd700;
  color: #003366;
}
