body {
  background: linear-gradient(to bottom, #000033 0%, #000066 50%, #003366 100%);
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", Monaco, "Courier New", "Nimbus Mono L", monospace;
  color: #ffd700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  border-bottom: 2px solid #ffd700;
  text-align: center;
  padding: 10px;
}

#logo {
  display: block;
  max-width: 120px;
  height: auto;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #ffd700;
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  border-top: 2px solid #ffd700;
  padding: 3%;
  text-align: center;
  z-index: 1;
}

footer p {
  color: #ffd700;
}

footer a {
  color: #ffa500;
  text-decoration: none;
  font-weight: bold;
}

.balance-card {
  background-color: #003366;
  border: 2px solid #ffd700;
  padding: 1%;
  width: 15%;
  margin: 3% 2%;
  border-radius: 5px;
}

.balance-card p,
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ffd700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2%;
}

.row-item {
  background-color: #003366;
  border: 2px solid #ffd700;
  border-radius: 5px;
  height: 300px;
  width: calc(50% - 2%);
  overflow: auto;
}

.row-item h3,
.row-item p {
  padding: 0 2%;
  color: #ffd700;
}

.transaction .transaction-amount {
  padding-top: 1%;
}

.transaction-amount {
  border-bottom: 1px solid #ffd700;
}

.text-element {
  background-color: #000066;
  border: 2px solid #ffd700;
  padding: 1%;
  width: 20%;
  text-align: center;
  border-radius: 5px;
}

.text-element p {
  font-size: 1.5rem;
  color: #ffd700;
}

@media (max-width: 876px) {
  .row-item {
    width: 100%;
    height: 200px;
  }

  .balance-card {
    width: 100%;
    margin: 2% 0;
  }
}

@media (max-width: 615px) {
  .row {
    flex-direction: column;
  }

  .row-item {
    margin: 1% 0;
    width: 80%;
  }

  .balance-card {
    width: 80%;
    margin: 1% auto;
  }
}
